.cover {
	padding: 8px 0 68px;
}

@media (max-width: 1024px) {
    .cover {
      padding: 2px 0 68px;
    }
  }
  
  @media (max-width: 800px) {
    .cover {
      padding: 8px 0 62px;
    }
  }
  
  @media (max-width: 320px) {
    .cover {
      padding: 0 0 42px;
    }
  }